# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/

# PyInstaller output
/release/
/build/

# Virtual environments
venv/
.venv/
env/

# IDE
.vscode/
.idea/
*.swp

# OS
Thumbs.db
desktop.ini
